<mat-nav-list *ngIf="users.email!=null">
    <div class="profile-card mb-3">
        <br>
        <img src="/assets/{{users.docName}}"  alt="User Photo">
        <div class="header">
            <h2>{{users.nom}} {{users.prenom}}</h2>
            <p >{{users.email}}</p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Gestions</h2>

    <a mat-list-item routerLinkActive="active" routerLink='/user'> User</a>
    <a mat-list-item routerLinkActive="active" routerLink="/produit"> Produit</a>
    <a mat-list-item routerLinkActive="active" routerLink="/stock"> Stock</a>
    <a mat-list-item routerLinkActive="active" routerLink="/facture"> Facture</a>
    <a mat-list-item routerLinkActive="active" routerLink="/fournisseur">Fournisseur</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>