<mat-nav-list>
    <div class="profile-card mb-3">
        <br>
        <img src="/assets/mouheb.jpg"  alt="User Photo">
        <div class="header">
            <h2>Mouheb Mhamdi</h2>
            <p >example@email.com</p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Gestions</h2>

    <a mat-list-item routerLinkActive="list-item-active" href="/user"> User</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/produit"> Produit</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/stock"> Stock</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/facture"> Facture</a>
    <a mat-list-item routerLinkActive="list-item-active" href="/fournisseur">Fournisseur</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>