.example-card {
    width: 300px;
  }
  
  .avatar {
    
    background-size: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    margin-bottom:10px ;
  }
  mat-card{
      margin: 20px;
  }
  .my-pagination .ngx-pagination .current {
    background: #F7941D;
  }