<div class="container w-75 user" *ngIf="!update">

    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" [(ngModel)]="term" />
        <span class="input-group-text border-0" id="search-addon">
            <i class="bi bi-search"></i>
        </span>
    </div>

    <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nom et Prenom</th>
            <th scope="col">Proffesion</th>
            <th scope="col">Email</th>
            <th scope="col">role</th>
            <th scope="col">adress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of tab.body  | filter:term| paginate: { itemsPerPage: 4, currentPage: p}  ;index as i">

            <td >
                <div class="row">
                    <div class="col-sm-2">
                        <div class="user-avatar ">

                        <img *ngIf="u.docName!=null" src="../../../../assets/{{u.docName}}" width="30"alt="Admin">
                        <img *ngIf="u.docName==null && u.genre=='m'" src="../../../assets/user.png" width="30" alt="Admin">
                         <img *ngIf="u.docName==null && u.genre=='w'" src="../../../assets/femme.png" width="30" alt="Admin">
                        </div>
                     </div>
                    <div class="col-sm-6">
                        {{u.nom}} {{u.prenom}}
                    </div>
                </div>






            </td>
            <td>{{u.proffesion}}</td>
            <td>{{u.email}} </td>
            <td>{{u.roles[0].role}}</td>
            <td>{{u.street}} {{u.city}} {{u.state}}  {{u.zip}}</td>
            <td>
                <button type="button" class="btn btn-outline-dark " (click)="updateUser(u.idClient)"><i class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-outline-dark "  (click)="delete(u.idClient)" ><i class="bi bi-trash"></i></button>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="text-center mt-5  ">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
